.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body {
	background : lightgrey;
}

#drop-area {
	position : absolute;
	top:20px;left:20px;right:20px;bottom:20px;
	background: white;
	overflow: auto;
	border:1px dashed grey 
}

#drop-area ol {
	font-size: 24px;
	font-family: Tahoma;
	color: rgb(161, 196, 196);
	line-height: 64px;
	margin-left : 42px;
}

#cropshot-preview {
	display : none;
	position: fixed;
	top : 50px;
	left : 50px;
	border : 10px solid white;
	box-shadow : 0 0 5px black;
	z-index: 10;
	font-size: 12px;
	font-family: Arial;
	background: white;
}

#cropshot-preview img {
	border : 1px solid lightgrey;
}

#cropshot-preview div {
	margin : 0 0 10px 0;
}

#cropshot-preview.show {
	display : block;
}