.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body {
	background : lightgrey;
}

body.croppable {
	cursor : crosshair;
}

#drop-area {
	position : absolute;
	top:20px;left:20px;right:20px;bottom:20px;
	background: url('background.png');
	overflow: auto;
	border:1px dotted lightgrey; 
}

#drop-area ol {
	font-size: 24px;
	font-family: Tahoma;
	color: lightgrey;
	line-height: 64px;
	margin-left : 42px;
}

.mask {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:9999;
    background-color : rgba(0,0,0,0.4)
}

.cropshot-preview {
	position: fixed;

	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -175px;

	width: 500px;
	max-height: 350px;
	padding: 10px;

	font-size: 12px;
	font-family: Arial;

	box-shadow: 0 0 5px black;
	background: white;
	cursor : default;

	z-index: 10000;
}

.cropshot-preview-image {
	max-width : 500px;
	max-height : 240px;
	border : 1px solid lightgrey;
}

.cropshot-preview-title {
	font-weight: bold;
	font-size: 14pt;
}

.cropshot-preview-line {
	display: block;
	margin-bottom : 10px;
}

.cropshot-preview-button {
	height: 30px;
	line-height: 30px;
	width: 80px;
	float:right;

	border: 1px solid rgb(100,100,100);
	border-radius: 1px;

	text-align: center;
	font-size: 11pt;
	color: white;
	text-shadow: 0 -1px 0 rgb(100,100,100);

	background-color: grey;
	cursor: pointer;
}

.cropshot-preview-button:hover {
	background-color: rgb(140,140,140);
}

#cropshot-preview-container {
	display : none;
}

#cropshot-preview-container.show {
	display : block;
}

.drop-container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 10;
}

.selection-rectangle { 
	top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    position:fixed;
	border-style: solid;
	border-color : rgba(0,0,0,0.5);
   	z-index:10005;
}

#mouse-tooltip {
	position : fixed;
	z-index : 12000;
	background : grey;
	color : white;
	font-family : Helvetica;
	font-size : 8pt;
	border-radius : 3px;
	padding : 3px;
	display : none;
	font-weight: bold;	
	opacity: 0.8;
}

#mouse-tooltip.tooltip-visible {
	display : block;
}

.canvas-overlay {
	top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    position:fixed;
    opacity : 0.5;
}
